@tailwind base;
@tailwind components;
@tailwind utilities;

/* Amplify login card css */
[data-amplify-authenticator][data-variation="modal"] {
  overflow-y: auto;
  width: var(--amplify-components-authenticator-modal-width);
  height: var(--amplify-components-authenticator-modal-height);
  background-color: inherit !important;
  position: inherit !important;
  top: var(--amplify-components-authenticator-modal-top);
  left: var(--amplify-components-authenticator-modal-left);
  z-index: 1;
  border-radius: 5px !important;
  border: #000 1px solid !important;
}

.amplify-card {
  text-align: center !important;
}

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
  /* background: gainsboro; */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100% !important;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: gainsboro !important;
  border:#000 1px solid;
  padding: 40px !important;
  margin-bottom: 40px;
}

.swiper-slide {
  background-position: center;
  background-size: auto;
  width: 300px !important;
  height: 300px !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100% !important;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.modal {
  backdrop-filter: blur(4px);
}

.offcanvas.offcanvas-start {
  width: fit-content !important;
}

.previewImage {
  margin: 20px;
  width: 50%;
  height: auto;
}

.adminCard {
  display: grid;
  place-self: center;
  height: 100%;
  width: 400px;
  box-shadow: 5px 2px 15px 2px hwb(0 83% 17%);
  margin: 20px;
}

.cartButton {
  background-color: #047d95 !important;
}